* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    background-color: #fff;
    color: #141414;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navigimi{
	position: fixed;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 9999;
	border-bottom: 1px solid #2e2b29;
	height: 80px;
}
#linqet_e_navigimit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{

	list-style: none;
	padding-right:  30px;
	position: relative;
	display: inline-block;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
    color:#070606;
	padding: 10px 10px;
	cursor: pointer;	
	text-transform: uppercase;
}
#linqet_e_navigimit li a{
	
	border-bottom: 5px ;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
	border-right: 1px ;
	border-top: 1px ;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px ;
	
}

#linqet_e_navigimit li::after{
	content: '';
	height: 3px;
	width: 0px;
	background: #1d3581;
	position: absolute;
	left:0px;
	bottom: -10px;
	transition: 0.5s;
}

#linqet_e_navigimit li:hover::after{
	width: 100%;

}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.row:before,
.row:after{
    content: "";
    display: table;
}

.row:after{
    clear: both;
}

.column {
    display: block;
    float: left;
    margin: 1% 0 1% 2%;
}

.column:first-child {
    margin-left: 0;
}

header {
    margin-top: 15px;
}

section{
    padding: 80px 0;
}

.c-1-2 {
    width: 49%;
}

.c-1-3 {
    width: 32%;
}

.c-2-3 {
    width: 65%;
}

.contact-box{
    text-align: center;
}

.button11 a{
    color: #0000008e;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
  }
  #button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }

  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #000000;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-5:hover #translate {
    left: 0;
  }
  
  #button-5:hover a {
    color: #ffffff;
  }

  #bar{
	color:#ff5733;
	display: none;
}
/*----  SECTION-CONTACT  ----*/

.section-contactus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/contact2.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: #ffffff;
}

h1,h2{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 10px;
    font-size: 250%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h1:after{
    display: block;
    height: 2px;
    background-color: #24a3f8;
    content: " ";
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

h2{
    font-size: 200%;
    margin-bottom: 25px;
}

.icon,
.btn-down{
    margin-bottom: 25px;
    text-decoration: none;
    color: #24a3f8;
    display: inline-block;
    font-size: 40px;
    border: 2px solid #24a3f8;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.btn-down:hover,
.btn-down:active{
    background-color: #24a3f8;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=reset]:hover,
input[type=reset]:active{
    font-size: 22px;
    transition: font-size 0.2s;
    cursor: pointer;
}

.contact-p{
    font-size: 130%;
    margin-bottom: 20px;
    font-weight: 200;
}

.contact-p span {
    font-size: 60%;
}

.contact-box ul{
    list-style: none;
}

.contact-box li{
    display: inline-block;
    border: 2px solid #fcf7f7;
    border-radius: 20px;
    margin-right: 25px;
    color: #24a3f8;
    padding: 5px;
}

.join-us{
    display: inline-block;
    margin-left: 460px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 220px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: #24a3f8;
    color: #ffffff;
    font-family: serif;
    box-shadow: 5px 7px 10px -3px #b0cfe9;
    text-transform: uppercase;
    text-decoration: none;
}

.join-us:hover{
    cursor: pointer;
    background-color: #24a3f8;
    border-color: #24a3f8;
    font-size: 32px;
    padding-bottom: 2px;
    box-shadow: 5px 7px 10px -3px #24a3f8;
    transition: background-color 0.2s, border-color 0.2s, font-size 0.2s, box-shadow 0.2s;
}

.pop-up-window{
    background-color: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;

}

.pop-up-content{
    height: 500px;
    width: 1000px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    background-color: #1d2126;
    border: 1px solid #24a3f8;
    z-index: 9999;
}

.close-icon{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 27px;
    height: 27px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgb(0, 0, 0,0.75);
    cursor: pointer;
}

.close-icon:hover{
    width: 29px;
    height: 29px;
    right: -17px;
    bottom: -6px;
    transition: width 0.15s, height 0.15s, right 0.15s, bottom 0.15s;
}

.section-forum{
    background-color: #f5f5f5;
    color:  #127dc5;
    font-weight: 400;
    overflow: hidden;
}


.section-forum h1{
    margin-bottom: 50px;
}

.contact-form{
    margin: 0 auto;
}
 
input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(235, 240, 252);
    box-shadow: 0 2px 2px #b8dde9;
}

.optional-information{
    display: block;
    width: 120%;
    margin-left: -115px;
    background-color: #e5ebf3;
}

textarea{
    height: 150px;
}

*:focus {outline: none;}

input[type=submit],
input[type=reset]{
    display: inline-block;
    border: 1px solid #3498db;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    font-size: 20px;
    font-family: montserrat;
    color: #3498db;
    margin-left: 120px;
}

.section-staff {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)), url(../images/aus1.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before{
    content: "\0022";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


footer{
    background-color: #738dac;
    line-height: 24px;
    color:white;
  }
  
  .art{
    background-color: #121c29;
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%,15% 0%, 100% 10%, 100% 100%, 0% 100%);
  }
  
  .content{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
  }
  
  footer header{
    font-size: 25px;
    padding:16px;
  }
  
  .content a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
  }
  
  .content a:hover{
    opacity: 1;
    color: #868de7;
    font-size: 17px;
    transition: all 0.3s ease 0s;
  }

  footer input{
    border-style: solid;
    line-height: 24px;
    padding: 12px 16px;
    font-size: 1rem;
    width:80%;
    margin:8px;
    border-radius: 8px;
    border-width: 2px;
  }
  footer input[type='mail']{
    background-color: transparent;
    border-color: white;
    color: white;
  }
  
  footer input[type='mail']:hover,
  footer input[type='mail']:focus{
    border-color:#00b7ff; 
    color: #00b7ff;
    transition: all 0.3s ease 0s;
  }
  
  
  footer a {
      text-decoration: none;
      margin: 0%;
      padding: 0%;
    }

	.social{
		margin:16px;
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-gap: 16px;
	  }
	  
	  .social i{
		font-size: 32px;
		padding: 8px;
		text-align: center;
		border:1px solid #ffff0031;
		border-radius: 8px;
		width: 100%
	  }
	  .social a{
	  text-decoration: none;
	  margin: 0%;
	  padding: 0%;
		}
	  
	  .social i:hover{
		color:#00b7ff;
		border-color: #00b7ff;
		box-shadow: 0px 0px 16px inset #ffff0031;
		transition: all 0.3s ease 0s;
	  }

	  .notice{
		text-align: center;
		padding: 24px;
	  }
	  
	  .notice strong{
		color:rgb(255, 0, 0);
		text-transform: uppercase;
	  }