* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #141414;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navigimi{
	position: fixed;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 9999;
	border-bottom: 1px solid #2e2b29;
	height: 80px;
}
#linqet_e_navigimit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{

	list-style: none;
	padding-right:  30px;
	position: relative;
	display: inline-block;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
    color:#070606;
	padding: 10px 10px;
	cursor: pointer;	
	text-transform: uppercase;
}
#linqet_e_navigimit li a{
	
	border-bottom: 5px ;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
	border-right: 1px ;
	border-top: 1px ;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px ;
	
}

#linqet_e_navigimit li::after{
	content: '';
	height: 3px;
	width: 0px;
	background: #1d3581;
	position: absolute;
	left:0px;
	bottom: -10px;
	transition: 0.5s;
}

#linqet_e_navigimit li:hover::after{
	width: 100%;

}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.row:before,
.row:after{
    content: "";
    display: table;
}

.row:after{
    clear: both;
}

.column {
    display: block;
    float: left;
    margin: 1% 0 1% 2%;
}

.column:first-child {
    margin-left: 0;
}

header {
    margin-top: 15px;
}

section{
    padding: 80px 0;
}

.c-1-2 {
    width: 49%;
}

.c-1-3 {
    width: 32%;
}

.c-2-3 {
    width: 65%;
}

.contact-box{
    text-align: center;
}

.button11 a{
    color: #0000008e;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
  }
  #button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-5 a {
    position: relative;
    transition: all .45s ease-Out;
  }

  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #000000;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #button-5:hover #translate {
    left: 0;
  }
  
  #button-5:hover a {
    color: #ffffff;
  }

  #bar{
	color:#ff5733;
	display: none;
}
/*----  SECTION-CONTACT  ----*/

.section-contactus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/contactus-1.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: #c0392b;
}

h1,h2{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 10px;
    font-size: 250%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h1:after{
    display: block;
    height: 2px;
    background-color: #c0392b;
    content: " ";
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

h2{
    font-size: 200%;
    margin-bottom: 25px;
}

.icon,
.btn-down{
    margin-bottom: 25px;
    text-decoration: none;
    color: #3498db;
    display: inline-block;
    font-size: 40px;
    border: 2px solid #3498db;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

.btn-down:hover,
.btn-down:active{
    background-color: #e24534;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=reset]:hover,
input[type=reset]:active{
    font-size: 22px;
    transition: font-size 0.2s;
    cursor: pointer;
}

.contact-p{
    font-size: 130%;
    margin-bottom: 20px;
    font-weight: 200;
}

.contact-p span {
    font-size: 60%;
}

.contact-box ul{
    list-style: none;
}

.contact-box li{
    display: inline-block;
    border: 2px solid #962d22;
    border-radius: 20px;
    margin-right: 25px;
    color: #3498db;
    padding: 5px;
}