body{
	margin:0%;
	
  }
  html{
	scroll-behavior: smooth;
}
.navigimi{
	position: fixed;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 100000;
	border-bottom: 1px solid #2e2b29;
	height: 80px;
}
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
	
	#linqet_e_navigimit{
		margin:0%;
		padding: 0%;
		  display: flex;
		  flex-direction: row;
		  justify-content: center;
		  align-items: center;
	  }
	  #linqet_e_navigimit li{

		list-style: none;
		padding-right:  30px;
		position: relative;
		display: inline-block;
	}
	#linqet_e_navigimit li a{
		text-decoration: none;
		font-size: 20px;
		font-weight: 500;
		color:#070606;
		padding: 10px 10px;
		cursor: pointer;	
		text-transform: uppercase;
	}
	#linqet_e_navigimit li a{border-bottom: 5px ;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius:8px; 
		border-right: 1px ;
		border-top: 1px ;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-left: 1px ;
		
	}
	
	#linqet_e_navigimit li::after{
		content: '';
		height: 3px;
		width: 0px;
		background: #1d3581;
		position: absolute;
		left:0px;
		bottom: -10px;
		transition: 0.5s;
	}
	
	#linqet_e_navigimit li:hover::after{
		width: 100%;
	}
    .tohoku{
        text-align: center;
        padding-bottom: 40px;
        margin-top: 130px;
    }
    
    .tohoku p{
        margin: auto;
        font-size: 50px;
        color: #171819;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    #places{
        width: 100%;
        padding: 70px 0px;
        
    }
    
    .contenth2{
        text-align: center;
        padding-bottom: 10px;
        margin-top: 50px;
    }
    
    .contenth2 p{
        margin: auto;
        font-size: 30px;
        color: #171819;
        font-weight: normal;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    .contenth3{
        width: 80%;
        margin: auto;
        color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }
    
    .contenth3 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    .places{
        flex-basis: 50%;
    }
    
    .places h1{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 100;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 30px;
        text-decoration: underline;
    }
    
    .contenth-desc{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .contenth-text p{
        padding: 0 20px;
        text-align: initial;
        font-size: 20px;
    }
    table{
        width: 100%;
        border-spacing: 40px;
    }
    
    th{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 20px;
    }
    
    table, th, td{
        border: 1px solid #171819;
        border-collapse: collapse;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 20px;
    }
    
    .contenth-img{
        flex-basis: 50%;
        margin: auto;
    }
    
    .contenth-img img{
        width: 70%;
        height: 580px;
        border-radius: 10px;
    }
    /*style per pjesen e dyte*/
    #places2{
        width: 100%;
        padding: 70px 0;
    }
    
    .contenth4{
        text-align: center;
        padding-bottom: 40px;
        margin-top: 130px;
    }
    
    .contenth4 p{
        margin: auto;
        font-size: 50px;
        color: #171819;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    .contenth5{
        width: 85%;
        margin: auto;
        color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    .contenth5 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    .places2{
        flex-basis: 50%;
    }
    
    .places2 h1{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 100;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 30px;
        text-decoration: underline;
    }
    .contenth2-desc{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .contenth2-text p{
        padding: 0 20px;
        text-align: initial;
        font-size: 20px;
    }
    
    .contenth2-img{
        flex-basis: 50%;
        margin: auto;
    }
    
    .contenth2-img img{
        width: 70%;
        height: 580px;
        border-radius: 10px;
    }
    /*--Places3--*/

#places3{
    width: 100%;
    padding: 70px 0;
}

.contenth6{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 130px;
}

.contenth6 p{
    margin: auto;
    font-size: 50px;
    color: #171819;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.contenth7{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.contenth7 p{
    font-family:"Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans";
}

.places3{
    flex-basis: 50%;
}

.places3 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 30px;
    text-decoration: underline;
}

.contenth3-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contenth3-text p{
    padding: 0 20px;
    text-align: initial;
    font-size: 20px;
}

.contenth3-img{
    flex-basis: 50%;
    margin: auto;
}

.contenth3-img img{
    width: 70%;
    height: 580px;
    border-radius: 10px;
}