   *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Poppins", sans-serif;
}
.navigimi{
	position: fixed;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 9999;
	border-bottom: 1px solid #2e2b29;
	height: 80px;
}
#linqet_e_navigimit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{

	list-style: none;
	padding-right:  30px;
	position: relative;
	display: inline-block;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
    color:#070606;
	padding: 10px 10px;
	cursor: pointer;	
	text-transform: uppercase;
}
#linqet_e_navigimit li a{
	
	border-bottom: 20px ;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
	border-right: 1px ;
	border-top: 1px ;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px ;
	
}

#linqet_e_navigimit li::after{
	content: '';
	height: 3px;
	width: 0px;
	background: #1d3581;
	position: absolute;
	left:0px;
	bottom: -10px;
	transition: 0.5s;
}

#linqet_e_navigimit li:hover::after{
	width: 100%;

}
    .tohoku{
        text-align: center;
        padding-bottom: 40px;
        margin-top: 130px;
    }
    
    .tohoku p{
        margin: auto;
        font-size: 50px;
        color: #171819;
        font-weight: bold;
        position: relative;
        display: inline-block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    #places{
        width: 100%;
        padding: 70px 0px;
        
    }
    
    .contenth2{
        text-align: center;
        padding-bottom: 10px;
        margin-top: 50px;
    }
    
    .contenth2 p{
        margin: auto;
        font-size: 30px;
        color: #171819;
        font-weight: normal;
        position: relative;
        display: inline-block;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    .contenth3{
        width: 80%;
        margin: auto;
        color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }
    
    .contenth3 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    .places{
        flex-basis: 50%;
    }
    
    
    .places h1{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 100;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 30px;
        text-decoration: underline;
    }
    
    .contenth-desc{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .contenth-text p{
        padding: 0 20px;
        text-align: initial;
        font-size: 20px;
    }
    table{
        width: 100%;
        border-spacing: 40px;
    }
    
    th{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 20px;
    }
    
    table, th, td{
        border: 1px solid #171819;
        border-collapse: collapse;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 20px;
    }
    
    .contenth-img{
        flex-basis: 50%;
        margin: auto;
    }
    
    .contenth-img img{
        width: 70%;
        height: 580px;
        border-radius: 10px;
    }
    /*style per pjesen e dyte*/
    #places2{
        width: 100%;
        padding: 70px 0;
    }
    
    .contenth4{
        text-align: center;
        padding-bottom: 40px;
        margin-top: 130px;
    }
    
    .contenth4 p{
        margin: auto;
        font-size: 50px;
        color: #171819;
        font-weight: bold;
        position: relative;
        display: inline-block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    .contenth5{
        width: 85%;
        margin: auto;
        color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    
    .contenth5 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    }
    
    .places2{
        flex-basis: 50%;
    }
    
    .places2 h1{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 100;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
        font-size: 30px;
        text-decoration: underline;
    }
    .contenth2-desc{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .contenth2-text p{
        padding: 0 20px;
        text-align: initial;
        font-size: 20px;
    }
    
    .contenth2-img{
        flex-basis: 50%;
        margin: auto;
    }
    
    .contenth2-img img{
        width: 70%;
        height: 580px;
        border-radius: 10px;
    }
    /*--Places3--*/

#places3{
    width: 100%;
    padding: 70px 0;
}

.contenth6{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 130px;
}

.contenth6 p{
    margin: auto;
    font-size: 50px;
    color: #171819;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.contenth7{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.contenth7 p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.places3{
    flex-basis: 50%;
}

.places3 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 30px;
    text-decoration: underline;
}

.contenth3-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contenth3-text p{
    padding: 0 20px;
    text-align: initial;
    font-size: 20px;
}

.contenth3-img{
    flex-basis: 50%;
    margin: auto;
}

.contenth3-img img{
    width: 70%;
    height: 580px;
    border-radius: 10px;
}
#places4{
    width: 100%;
    padding: 70px 0;
}

.contenth8{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 130px;
}

.contenth8 p{
    margin: auto;
    font-size: 50px;
    color: #171819;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.contenth9{
    width: 85%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
}

.contenth9 p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.places4{
    flex-basis: 50%;
}

.places4 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 30px;
    text-decoration:underline;
}

.contenth4-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contenth4-text p{
    padding: 0 20px;
    text-align: initial;
    font-size: 20px;
}

.contenth4-img{
    flex-basis: 50%;
    margin: auto;
}

.contenth4-img img{
    width: 70%;
    height: 580px;
    border-radius: 10px;
}
#places5{
    width: 100%;
    padding: 70px 0;
}

.contenth10{
    text-align: center;
    padding-bottom: 40px;
    margin-top: 130px;
}

.contenth10 p{
    margin: auto;
    font-size: 50px;
    color: #171819;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.contenth11{
    width: 80%;
    margin: auto;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.contenth11 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.places5{
    flex-basis: 50%;
}

.places5 h1{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 100;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 30px;
    text-decoration: underline;
}

.contenth5-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contenth5-text p{
    padding: 0 20px;
    text-align: initial;
    font-size: 20px;
}

.contenth5-img{
    flex-basis: 50%;
    margin: auto;
}

.contenth5-img img{
    width: 70%;
    height: 580px;
    border-radius: 10px;
}
footer{
    background-color: #738dac;
    line-height: 25px;
    color: white;
  }
  
  .art{
    background-color: #121c29;
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%,15% 0%, 100% 10%, 100% 100%, 0% 100%);
  }
  
  .content{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 16px;
  }
  
  footer header{
    font-size: 25px;
    padding:16px;
  }
  
  .content a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
  }
  
  .content a:hover{
    opacity: 1;
    color: #868de7;
    font-size: 17px;
    transition: all 0.3s ease 0s;
  }
  
  footer input{
    border-style: solid;
    line-height: 24px;
    padding: 12px 16px;
    font-size: 1rem;
    width:80%;
    margin:8px;
    border-radius: 8px;
    border-width: 2px;
  }
  footer input[type='mail']{
    background-color: transparent;
    border-color: white;
    color: white;
  }
  
  footer input[type='mail']:hover,
  footer input[type='mail']:focus{
    border-color:#00b7ff; 
    color: #00b7ff; ;
    transition: all 0.3s ease 0s;
  }
  
  
  footer a {
      text-decoration: none;
      margin: 0%;
      padding: 0%;
    }
  
  .social{
    margin:16px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 16px;
  }
  
  .social i{
    font-size: 32px;
    padding: 8px;
    text-align: center;
    border:1px solid #ffff0031;
    border-radius: 8px;
    width: 100%
  }
  .social a{
  text-decoration: none;
  margin: 0%;
  padding: 0%;
    }
  
  .social i:hover{
    color: #00b7ff;
    border-color:  #00b7ff;
    box-shadow: 0px 0px 16px inset #ffff0031;
    transition: all 0.3s ease 0s;
  }
  .notice{
    text-align: center;
    padding: 24px;
  }
  
  .notice strong{
    color:red;
    text-transform: uppercase;
  }
