@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html{
	scroll-behavior: smooth;
}


.navigimi{
	position: fixed;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 9999;
	border-bottom: 1px solid #2e2b29;
	height: 80px;
}
#linqet_e_navigimit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{

	list-style: none;
	padding-right:  30px;
	position: relative;
	display: inline-block;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
    color:#070606;
	padding: 10px 10px;
	cursor: pointer;	
	text-transform: uppercase;
}
#linqet_e_navigimit li a{
	
	border-bottom: 5px ;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
	border-right: 1px ;
	border-top: 1px ;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px ;
	
}

#linqet_e_navigimit li::after{
	content: '';
	height: 3px;
	width: 0px;
	background: #1d3581;
	position: absolute;
	left:0px;
	bottom: -10px;
	transition: 0.5s;
}

#linqet_e_navigimit li:hover::after{
	width: 100%;

}


#bar {
    color: #24a3f8;
    display: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/rns.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.contenth1 h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.stylediv1,
.stylediv2,
.stylediv3 {
    width: 27%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    list-style-type: none;
    font-size: 20px;
    box-sizing: border-box;
    box-shadow: 0 0px 60px rgba(233, 219, 219, 0.233), 0 0px 50px rgba(233, 219, 219, 0.333), 0 0px 30px rgba(233, 219, 219, 0.417), 0 0px 16px rgba(233, 219, 219, 0.517), 0 0px 20px rgba(233, 219, 219, 0.75);
    padding: 20px;
    border-radius: 50px;
}

.stylediv1 b,
.stylediv2 b,
.stylediv3 b {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#gradient1,
#gradient2,
#gradient3 {
    margin-top: 30px;
    list-style-type: none;
}

.travel h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin-top: 25%;
    padding: 40px;
    text-align: center;
}

.travel1-img img {
    width: 25%;
    height: 390px;
    margin-left: 6%;
    border-radius: 8px;
    box-shadow: 0 0px 60px rgba(233, 219, 219, 0.233), 0 0px 50px rgba(233, 219, 219, 0.333), 0 0px 30px rgba(233, 219, 219, 0.417), 0 0px 16px rgba(233, 219, 219, 0.517), 0 0px 20px rgba(233, 219, 219, 0.75);
}

.travel1-details {
    padding: 20px;
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.travel1-details h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 28px;
    font-weight: bolder;
}

.travel1.fa {
    font-size: 15px;
    color: #ff5722;
}



.contenth1{
    color:#ffff;
    position:absolute;
    top: 25%;
    left: 5%;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 45px;
  
  }

table {
	width: 80%;
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
   background-color: rgb(211, 226, 241);
   border: none;
   margin-top: 20px;
}

.divi33 {
    width: 100%;
    overflow: hidden;
}

th,
td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding: 12px 5px;
}

#thead th {
    background-color: #24a3f8;
    color: white;
    border-radius: 20px 20px 0 0;
}

#video1 {
    width: 360px;
}

.slide {
    width: 800px;
    height: 500px;
    background: url("../images/malta1.jpg");
    margin: 100px auto;
    animation: slide 15s infinite;
}

@keyframes slide {
    25% {
        background: url("../images/aus6.jpg");
    }
    40% {
        background: url("../images/india6.jpg");
    }
    55% {
        background: url("../images/india11.webp");
    }
    70% {
        background: url("../images/india5.jpg");
    }
    85% {
        background: url("../images/india7.jpg");
    }
    100% {
        background: url("../images/malta7.jpg");
    }
}


footer{
    background-color: #738dac;
    line-height: 24px;
    color:white;
  }
  
  .art{
    background-color: #121c29;
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%,15% 0%, 100% 10%, 100% 100%, 0% 100%);
  }
  
  .content{
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
  }
  
  footer header{
    font-size: 25px;
    padding:16px;
  }
  
  .content a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.65;
  }
  
  .content a:hover{
    opacity: 1;
    color: #868de7;
    font-size: 17px;
    transition: all 0.3s ease 0s;
  }

  footer input{
    border-style: solid;
    line-height: 24px;
    padding: 12px 16px;
    font-size: 1rem;
    width:80%;
    margin:8px;
    border-radius: 8px;
    border-width: 2px;
  }
  footer input[type='mail']{
    background-color: transparent;
    border-color: white;
    color: white;
  }
  
  footer input[type='mail']:hover,
  footer input[type='mail']:focus{
    border-color:#00b7ff; 
    color: #00b7ff;
    transition: all 0.3s ease 0s;
  }
  
  
  footer a {
      text-decoration: none;
      margin: 0%;
      padding: 0%;
    }

	.social{
		margin:16px;
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-gap: 16px;
	  }
	  
	  .social i{
		font-size: 32px;
		padding: 8px;
		text-align: center;
		border:1px solid #ffff0031;
		border-radius: 8px;
		width: 100%
	  }
	  .social a{
	  text-decoration: none;
	  margin: 0%;
	  padding: 0%;
		}
	  
	  .social i:hover{
		color:#00b7ff;
		border-color: #00b7ff;
		box-shadow: 0px 0px 16px inset #ffff0031;
		transition: all 0.3s ease 0s;
	  }

	  .notice{
		text-align: center;
		padding: 24px;
	  }
	  
	  .notice strong{
		color:rgb(255, 0, 0);
		text-transform: uppercase;
	  }