*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html{
	scroll-behavior: smooth;
}


.navigimi{
	position: fixed;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 16px 104px;
	background:#fff;
	z-index: 9999;
	border-bottom: 1px solid #2e2b29;
	height: 80px;
}
#linqet_e_navigimit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#linqet_e_navigimit li{

	list-style: none;
	padding-right:  30px;
	position: relative;
	display: inline-block;
}
#linqet_e_navigimit li a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
    color:#070606;
	padding: 10px 10px;
	cursor: pointer;	
	text-transform: uppercase;
}
#linqet_e_navigimit li a{
	
	border-bottom: 5px ;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius:8px; 
	border-right: 1px ;
	border-top: 1px ;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-left: 1px ;
	
}

#linqet_e_navigimit li::after{
	content: '';
	height: 3px;
	width: 0px;
	background: #1d3581;
	position: absolute;
	left:0px;
	bottom: -10px;
	transition: 0.5s;
}

#linqet_e_navigimit li:hover::after{
	width: 100%;

}

.prapavija{
	background-image: url(../images/tour13.webp);
	width: 1349px;
	height: 700px;
	background-size: cover;
	z-index: -1;
}

.button11 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #0505058e;
    margin: 20px 20px 20px 20px;
    color: #0707078e;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button11 a {
    color: #0000008e;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-Out;
}


#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #000000;
    position: absolute;
    transition: all .3s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: #ffffff;
}

#bar {
    color: #ff5733;
    display: none;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/wallpaper_tour.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.stylediv1,
.stylediv2,
.stylediv3 {
    width: 27%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    list-style-type: none;
    font-size: 20px;
    box-sizing: border-box;
    box-shadow: 0 0px 60px rgba(233, 219, 219, 0.233), 0 0px 50px rgba(233, 219, 219, 0.333), 0 0px 30px rgba(233, 219, 219, 0.417), 0 0px 16px rgba(233, 219, 219, 0.517), 0 0px 20px rgba(233, 219, 219, 0.75);
    padding: 20px;
    border-radius: 50px;
}

.stylediv1 b,
.stylediv2 b,
.stylediv3 b {
    font-family: 'Source Sans Pro', sans-serif;
}

#gradient1,
#gradient2,
#gradient3 {
    margin-top: 30px;
    list-style-type: none;
}

.travel h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25%;
    padding: 40px;
    text-align: center;
}

.travel1-img img {
    width: 25%;
    height: 390px;
    margin-left: 6%;
    border-radius: 8px;
    box-shadow: 0 0px 60px rgba(233, 219, 219, 0.233), 0 0px 50px rgba(233, 219, 219, 0.333), 0 0px 30px rgba(233, 219, 219, 0.417), 0 0px 16px rgba(233, 219, 219, 0.517), 0 0px 20px rgba(233, 219, 219, 0.75);
}

.travel1-details {
    padding: 20px;
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}